#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;

  .logo {
    img {
      display: block;
      height: 36px;
    }
  }
}
